---

shortcode: home
bodyclass:
- front

---


<div class="photo"><img src="img/hewittjsmith.jpg" alt="Hewitt J. Smith"/></div>
<h1 class="name">Hewitt J. Smith</h1>
<h2 id="position" class="position">Baby</h2>
